phpunit.xml.dist export-ignore
phpunit.xml export-ignore
.gitattributes export-ignore
.gitignore export-ignore
README.md export-ignore
version.xml export-ignore
magento.rb export-ignore
.php_cs export-ignore
grumphp.yml export-ignore
phpcs.xml export-ignore
psalm.xml export-ignore
phpstan.neon export-ignore
.php-cs-fixer.php export-ignore
.github export-ignore